  :root {
      --primary-brown: #8B4513;
      --secondary-brown: #A0522D;
      --light-brown: #D2B48C;
      --dark-brown: #5C4033;
  }

  html {
      height: 100%;
  }



  /* 1. Positioning and Animation */
  #mainNavbar {
      position: fixed;
      top: 0;
      width: 100%;
      transition: transform 0.3s ease-in-out;
      z-index: 1051;
  }

  #mainNavbar.navbar--hidden {
      transform: translateY(-100%);
  }

  /* So that the navbar won't overlap with the body (height of the navbar is 56px) */
  body {
      padding-top: 61px;
  }

  .navbar {
      background: linear-gradient(to right, var(--dark-brown), var(--primary-brown));
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
      font-weight: 700;
      color: #fff !important;
  }

